<label class='block' for='subject'>Subject:
  <input id='subject' type='text' name='question[subject]' value='<%= question.subject %>' placeholder='Subject'>
</label>

<label class='block' for='body'>Question:
  <textarea id='body' name='question[question_body]' placeholder='What is it, bro?'><%= question.question_body %></textarea>
</label>
