<h3>Comments for the Bro Post</h3>

<% if @errors %>
<%= erb :"_errors", locals: {errors: @errors} %>
<% end %>

<form method="POST" action='/questions/<%= @question.id %>/comments'>
  <div class="form-field">
    <input type="text" name="user_input" value="<%= @comment.comment_body %>" placeholder="put comment here">
  </div>
  <input type="submit">
</form>
