<h3>Edit answer</h3>

<%= erb :"_errors", locals: {errors: @errors} %>

<form class="edit-answer-form" method="POST" action="/questions/<%= @answer.question_id %>/answers">
  <input type="hidden" name="_method" value="PUT">
    <%= erb :'answers/_answer_form_fields', locals: { answer: @answer } %>
  <input type="submit" value="save">
</form>
