<h2>@question.comments.create(comment)</h2>
<h3>Hey Mitch. Sam here. Turn on your volume, please.</h3>
<div class="mitch-face-killa">
  <p>
    Heyy, mitch. Sam again. AJAX the comments please. I didn't add any classes to the <a> tags, though.
    <%= `say "Heyy, mitch. Sam again. AJAX the comments please. I didn't add any classes to the <a> tags, though." ` %>
  </p>
</div>
