<form  class="upvote" action="/" method="post">
<input type="hidden" name="vote" value="1">
<input type="submit" >
</form>

<form class="downvote" action="/" method="post">
<input type="hidden" name="vote" value="-1">
<input type="submit" >
</form>
